<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <div class="container">
            <h2>Newsletter</h2>
            <div id="warning"><span class="material-icons-outlined">warning</span>Don't Put Real Data</div>
            <form action="/" method="POST">
                <input type="text" name="firstName" placeholder="First Name" autocomplete="off" required="true" spellcheck="false">
                <input type="text" name="lastName" placeholder="Last Name" autocomplete="off" required="true" spellcheck="false">
                <input type="email" name="email" id="" placeholder="Enter Your Email" autocomplete="off" required="true">
                <button type="submit">Subscribe</button>
            </form>
            <a href="/database"><button class="database">Database</button></a>
        </div>
    </div>
</body>
<script src="js/script.js"></script>
</html>